.Display {
  width: 100%;
  height: 20%;
  background-color: #323232;
  font-size: 14vmin;
  color: white;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
}

.DisplaySpan {
  margin: 16px;
}
